{% extends 'AppBundle::base.html.twig' %}

{% block admin %}
    <br>
    <br>
    <br>
    <br>
    <center>
        <form action="{{ path('search_all_employers') }}" method="post"
              style="box-shadow: 0px 0px 10px;padding: 30px;width: 900px;">
            <div class="input-group">
                <input type="text" name="search" class="form-control">
                <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">Chercher</button>
            </span>
            </div>
            <a href="#" style="float: right;" class="avancer">Recherche avancée</a>
        </form>
    </center>
{% endblock %}